= form_for employee, url: employee_path(employee), html: { data: { validate: true }, class: 'body' } do |f|
  .row
    = render 'crud/avatar_upload', form: f, user: employee

    .field
      = f.label :name, class: 'required'
      = f.text_field :name, required: true, autofocus: true

  .row
    .field
      = f.label :email, class: 'required'
      = f.email_field :email, required: true, email: true

    .small-field
      = f.label :birth_date
      = f.text_field :birth_date, data: { inputmask: "'alias': 'date'" }

    .small-field
      = f.label :enrollment, class: 'required'
      = f.text_field :enrollment, required: true

  - if employee.new_record?
    .row
      .field
        = f.label :password, class: 'required'
        = f.password_field :password, required: true, minlength: 6

      .field
        = f.label :password_confirmation, class: 'required'
        = f.password_field :password_confirmation, required: true, equalto: '#user_password'
  - else
    .row
      .field
        = f.label :password, "Senha <i class='icon-lock'></i>".html_safe
        = f.password_field :password, required: true, minlength: 6, disabled: true, placeholder: '********'

      .field
        = f.label :password_confirmation, "Confirmação da senha <i class='icon-lock'></i>".html_safe
        = f.password_field :password_confirmation, required: true, equalto: '#user_password', disabled: true, placeholder: '********'

  .divider

  .row
    .field
      = f.label :cellphone_number
      = f.text_field :cellphone_number, data: { inputmask: "'alias': 'phone'" }

    .field
      = f.label :phone_number
      = f.text_field :phone_number, data: { inputmask: "'alias': 'phone'" }

  .row
    .field
      = f.label :address
      = f.text_field :address

    .small-field
      = f.label :address_number
      = f.text_field :address_number, data: { inputmask: "'alias': 'integer', 'rightAlignNumerics': false"}

    .small-field
      = f.label :address_complement
      = f.text_field :address_complement

  .row
    .field
      = f.label :address_state
      = f.select :address_state, @states, { include_blank: t('helpers.select.prompt') }, placeholder: t('helpers.select.prompt')

    .field
      = f.label :address_city
      = f.select :address_city, @cities, { include_blank: t('helpers.select.prompt') }, placeholder: t('helpers.select.prompt')
      = f.select :address_city, options_for_select(@cities.map { |city| [city.name, 'data-name' => city.name] }, selected: employee.address_city), { include_blank: t('helpers.select.prompt') }, placeholder: t('helpers.select.prompt')

  .clear
  %button.button.primary{ type: 'submit', name: 'commit' }
    <i class='icon-ok'></i> Confirmar
