= form_for classroom, html: { class: 'body' } do |f|
  .row
    .field
      .subject
        = f.label :subject
        = f.select :subject_id, @subjects.map { |subject| [subject.name, subject.id] }, { include_blank: t('helpers.select.select_or_add') }, placeholder: t('helpers.select.select_or_add')
      %br
      .teacher
        = f.label :teacher
        = f.select :teacher_id, @teachers.map { |teacher| [teacher.name, teacher.id] }, { include_blank: t('helpers.select.prompt') }, placeholder: t('helpers.select.prompt'), data: { selectize: true }

    .field
      .students-select
        = label_tag :new_student, 'Adicionar classes a turma', class: 'invisible'
        = select_tag :new_student, options_for_select(@groups.map { |group| [group.name, group.id] }, selected: classroom.group_ids), multiple: true

      .students-list
        %p Classes
        %ul
          - if @classroom_groups.blank?
            %li.blank Não há nenhuma classe nessa turma ainda, selecione acima para adicionar
          - else
            - @classroom_groups.each do |group|
              = render('group_fields', group_id: group.id, group_name: group.name)

  .clear
  %button.button.primary{ type: 'submit', name: 'commit' }
    <i class='fa fa-check'></i> Confirmar

= content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#classroom_subject_id').selectize({
        create: true,
        render: {
          option_create: function(data, escape){
            return '<div data-selectable="" class="create">#{t("helpers.select.add")} <strong>'+escape(data.input)+'</strong>…</div>'
          }
        }
      })

      var $select_student;

      $select_student = $('.students-select select').selectize({
        plugins: ['restore_on_backspace'],
        onInitialize: function() {
          $('.students-select .selectize-input input').attr('placeholder', 'Procurar classes');
        },
        onItemAdd: function(value, $item) {
          var html = '#{j render("group_fields", group_name: "{{group_name}}", group_id: "{{group_id}}")}'

          $('.students-list .blank').hide()

          if ($('.students-list li:visible input[value="' + value + '"]').length == 0) {
            $('.students-list ul').append(html.replace(/{{group_name}}/g, $item.text()).replace(/{{group_id}}/g, value))
          }
          if($('.selectize-dropdown-content div').length == 0){
            $('.students-select .selectize-input input').attr('placeholder', 'Todos as classes já foram adicionadas');
            select_student.disable();
          }else{
            $('.students-select .selectize-input input').attr('placeholder', 'Procurar classe');
          }
        },
        onItemRemove: function(value, $item){
          $('.students-select .selectize-input input').attr('placeholder', 'Procurar classe');
          select_student.enable();

          if($('.students-select .selectize-input div').length == 0){
            if($('.students-list .blank').length == 0){
              $('.students-list ul').append('<li class="blank">Não há nenhuma classe nessa turma ainda, selecione acima para adicionar</li>')
            }else{
              $('.students-list .blank').show();
            }
          }
        }
      })

      select_student  = $select_student[0].selectize;
    })
