= form_for classroom do |f|
  .row
    .field
      = f.label :subject
      = f.select :subject_id, Subject.all.map { |subject| [subject.id, subject.name] }, {}, class: 'selectize'

    .students-select
      = label_tag :new_student, 'Adicionar alunos a classe', class: 'invisible'
      = select_tag :new_student, options_for_select(@groups.map { |group| [group.name, group.id] }, selected: classroom.group_ids), multiple: true

    .students-list
      %p Classes
      %ul
        - if classroom.entries.blank?
          %li.blank Não há nenhuma classe nessa turma ainda, selecione abaixo para adicionar
        - else
          = f.fields_for :entries do |builder|
            = render('entry_fields', group_name: builder.object.group.name, group_id: builder.object.group_id.to_s, index: builder.index.to_s)

  .clear
  %button.button.primary{ type: 'submit', name: 'commit' }
    <i class='icon-ok'></i> Confirmar

= content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('.selectize').selectize()

      var $select_student;

      $select_student = $('.students-select select').selectize({
        plugins: ['restore_on_backspace'],
        onInitialize: function() {
          $('.students-select .selectize-input input').attr('placeholder', 'Procurar aluno');
        },
        onItemAdd: function(value, $item) {
          var html = '#{j render("entry_fields", group_name: "{{group_name}}", group_id: "{{group_id}}", index: "{{index}}")}'

          $('.students-list .blank').hide()

          if ($('.students-list li:visible input[value="' + value + '"]').length == 0) {
            $('.students-list ul').append(html.replace(/{{group_name}}/g, $item.text()).replace(/{{group_id}}/g, value).replace(/{{index}}/g,new Date().getTime()))
          }
          if($('.selectize-dropdown-content div').length == 0){
            $('.students-select .selectize-input input').attr('placeholder', 'Todos os alunos já foram adicionados');
            select_student.disable();
          }else{
            $('.students-select .selectize-input input').attr('placeholder', 'Procurar aluno');
          }
        },
        onItemRemove: function(value, $item){
          $('.students-select .selectize-input input').attr('placeholder', 'Procurar aluno');
          select_student.enable();
        }
      })

      select_student  = $select_student[0].selectize;
    })
