= form_for classroom, html: { class: 'body' } do |f|
  .row
    .field
      .subject
        = f.label :subject
        = f.select :subject_id, @subjects.map { |subject| [subject.name, subject.id] }, { include_blank: t('helpers.select.select_or_add') }, placeholder: t('helpers.select.select_or_add')
      %br
      .teacher
        = f.label :teacher
        = f.select :teacher_id, @teachers.map { |teacher| [teacher.name, teacher.id] }, { include_blank: t('helpers.select.prompt') }, placeholder: t('helpers.select.prompt'), data: { selectize: true }

    .field{ data: { 'dual-selectize' => 'remove',
      'search-placeholder' => 'Procurar classes',
      'empty-search-list' => 'Todas as classes já foram adicionadas',
      } }

      .select
        = label_tag :new_student, 'Adicionar classes a turma', class: 'invisible'
        = select_tag :new_student, options_for_select(@groups.map { |group| [group.name, group.id] }, selected: classroom.group_ids), multiple: true

      .list
        %p Classes
        %ul
          %li.blank Não há nenhuma classe nessa turma ainda, selecione acima para adicionar

          .template
            = render('group_fields', group_id: '{{value}}', group_name: '{{text}}', disabled: 'disabled')

          - if @classroom_groups.present?
            - @classroom_groups.each do |group|
              = render('group_fields', group_id: group.id, group_name: group.name, disabled: false)

  .clear
  %button.button.primary{ type: 'submit', name: 'commit' }
    <i class='fa fa-check'></i> Confirmar

= content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#classroom_subject_id').selectize({
        create: true,
        render: {
          option_create: function(data, escape){
            return '<div data-selectable="" class="create">#{t("helpers.select.add")} <strong>' + escape(data.input) + '</strong>…</div>'
          }
        }
      })
    })
