.box.show-box
  %p.title Detalhes da turma
  .body
    .details
      .info
        %p= "Disciplina: #{@classroom.subject.name}"
        %p= "Professor: #{@classroom.teacher.name}"
      .students-list
        %p Classes
        %ul
          - if @classroom.entries.blank?
            %li.blank Não há nenhuma classe nessa turma ainda
          - else
            - @classroom.entries.each do |entry|
              %li
                %span= entry.resource.name

    .actions
      = link_to classrooms_path, class: 'back button secondary' do
        <i class='fa fa-reply' title='Voltar'></i> Voltar
      = link_to new_classroom_exam_path(@classroom), class: 'exam button primary' do
        <i class='fa fa-plus' title='Nova avaliação'></i> Nova avaliação
