.box
  %p.title Cadastre-se

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { data: { validate: true }, class: 'body' }) do |f|
    = devise_error_messages!

    = f.fields_for :account, resource.build_account do |f_account|
      .field
        = f_account.label :name
        = f_account.text_field :name, required: true, autofocus: true

      .field
        = f_account.label :subdomain
        = f_account.text_field :subdomain, required: true
        %span.info
          %span.subdomain> subdominio
          \.minhasaladeaula.com

    .field
      = f.label :email
      = f.email_field :email, required: true, email: true

    .field
      = f.label :password
      = f.password_field :password, required: true, minlength: 6

    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, required: true, equalto: '#user_password'

    .actions
      = f.submit 'Cadastrar', class: 'button primary'

    .clear
    = render 'devise/shared/links'

= content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('#user_account_attributes_subdomain').on('input', function() {
        var $that = $(this);
        var value;

        value = !!$that.val() ? $that.val() : 'subdominio';
        $that.siblings('.info').find('.subdomain').text(value);
      });
    });
