%h2 Cadastre-se

= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!

  = f.fields_for :account, resource.build_account do |f_account|
    %div
      = f_account.label :name
      %br
      = f_account.text_field :name, autofocus: true

    %div
      = f_account.label :subdomain
      %br
      = f_account.text_field :subdomain

  %div
    = f.label :email
    %br
    = f.email_field :email

  %div
    = f.label :password
    %br
    = f.password_field :password

  %div
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation

  %div= f.submit "Sign up"

= render "devise/shared/links"
