.content
  .list-box
    %p.title alunos
    %ul
      %li#user-search-box
        = form_tag(students_path, method: 'get', id: 'student_search') do
          .search
            = text_field_tag 'search', params[:search], class: 'large', placeholder: t('helpers.submit.search')
            %i{ class: 'icon-remove-sign' }

            - if params[:search].present?
              .search-param Resultados da busca por '#{params[:search]}'

          %button.button.primary{ type: 'submit' }
            <i class='icon-search'></i> Buscar

        = link_to '<i class="icon-plus"></i> Cadastrar'.html_safe, new_student_path, class: 'button secondary'

      %li
        %ul.three-columns#students
          - if @students.empty?
            %p Nenhum aluno encontrado.
          - else
            = render partial: 'student', collection: @students

= content_for :javascript do
  :javascript
    $('.search').on('click', '.icon-remove-sign', function() {
      $('.search input').val('');
      $('.search').parent('form').submit();
    });

    $('.search input').focus();
