= form_for group do |f|
  .row
    .field
      = f.label :name
      = f.text_field :name

    .students-select
      = label_tag :new_student, 'Adicionar alunos a classe'
      = select_tag :new_student, options_for_select(@students.map { |student| [student.name, student.id] }, selected: @group.student_ids),
        multiple: true, include_blank: true, placeholder: 'Procurar aluno'

    .students-list
      %p Alunos
      %ul
        - if group.user_groups.blank? && false
          %li.blank Não há nenhum aluno nessa turma ainda, selecione abaixo para adicionar
        - else
          = f.fields_for :user_groups do |builder|
            = render('user_group_fields', user_name: builder.object.user.name, user_id: builder.object.user_id.to_s, index: builder.index.to_s)

  .clear
  %button.button.primary{ type: 'submit', name: 'commit' }
    <i class='icon-ok'></i> Confirmar

= content_for :javascript do
  :javascript
    $(document).ready(function() {
      var $select_student;

      $select_student = $('.students-select select').selectize({
        plugins: ['restore_on_backspace'],
        onItemAdd: function(value, $item) {
          var html = '#{j render("user_group_fields", user_name: "{{user_name}}", user_id: "{{user_id}}", index: "{{index}}")}'

          if ($('.students-list li:visible input[value="' + value + '"]').length == 0) {
            $('.students-list ul').append(html.replace(/{{user_name}}/g, $item.text()).replace(/{{user_id}}/g, value).replace(/{{index}}/g,new Date().getTime()))
          }
          $('.students-select .selectize-input input').attr('placeholder', 'Adicionar um aluno');
        }
      })

      select_student  = $select_student[0].selectize;
    })
