= form_for group do |f|
  .row
    .field
      = f.label :name
      = f.text_field :name

    .students-select
      = label_tag :new_student, 'Adicionar alunos a classe'
      = select_tag :new_student, options_for_select(@students.map { |student| [student.name, student.id] }), include_blank: true, placeholder: t('helpers.select.prompt')

    .students-list
      %p Alunos
      %ul
        - if group.user_groups.blank? && false
          %li.blank Não há nenhum aluno nessa turma ainda, selecione abaixo para adicionar
        - else
          = f.fields_for :user_groups do |builder|
            = render('user_group_fields').gsub('{{user_name}}', builder.object.user.name).gsub('{{user_id}}', builder.object.user_id.to_s).gsub('{{index}}', builder.index.to_s).html_safe

  .clear
  %button.button.primary{ type: 'submit', name: 'commit' }
    <i class='icon-ok'></i> Confirmar

= content_for :javascript do
  :javascript
    $(document).ready(function() {
      $('.students-select select').selectize({
        onChange: function(value){
          if (!value.length) return;

          $('.students-list ul li.blank').hide()

          user_name = $('.selectize-input div').text()
          $('.selectize-input div').remove();
          $('.selectize-dropdown .option.selected').remove();

          html = '#{j render("user_group_fields")}'

          $('.students-list ul').append(html.replace(/{{user_name}}/g, user_name).replace(/{{user_id}}/g, value).replace(/{{index}}/g,new Date().getTime()))
        }
      })
    })
