= form_for group, html: { class: 'body' } do |f|
  .row
    .field
      = f.label :name
      = f.text_field :name

    .field{ data: { 'dual-selectize' => 'remove',
      'search-placeholder' => 'Procurar alunos',
      'empty-search-list' => 'Todas os alunos já foram adicionados',
      } }

      .select
        = label_tag :new_student, 'Adicionar alunos a classe', class: 'invisible'
        = select_tag :new_student, options_for_select(@students.map { |student| [student.name, student.id] }, selected: group.student_ids), multiple: true

      .list
        %p Alunos
        %ul
          %li.blank Não há nenhum aluno nessa turma ainda, selecione acima para adicionar.

          .template
            = render('user_group_fields', user_name: '{{text}}', user_id: '{{value}}', index: '{{random}}', disabled: 'disabled')

          - if group.user_groups.present?
            = f.fields_for :user_groups do |builder|
              = render('user_group_fields', user_name: builder.object.user.name, user_id: builder.object.user_id.to_s, index: builder.index.to_s, disabled: false)

  .clear
  %button.button.primary{ type: 'submit', name: 'commit' }
    <i class='fa fa-check'></i> Confirmar
