= form_tag(send_contact_email_path) do
  = label_tag params[:plan]
  = text_field_tag :name, '', placeholder: 'nome'
  = email_field_tag :email, '', placeholder: 'e-mail'
  = text_area_tag :message, '', placeholder: 'mensagem'
  = submit_tag 'Enviar', class: 'primary'