.header
  .header-wrapper
    .banner
    .banner-text
      %h2 Lorem ipsum
      %p
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam elementum maurivel
        nulla lacinia interdum. Praesent vel nisi
        vitae turpis consequat cursus et et nibh.
        Etiam rutrum porttitor viverra. Proin nisi
        enim, aliquet sit amet iaculis vitae, feugiat a
        felis.
    .link-wrapper
      %a.button.primary{ href: '#planos' } Contratar

.content
  %p
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
    elementum maurivel nulla lacinia interdum."
  .box-container
    .box
      %img{ src: "#{image_path('home/bloco.png')}" }
      %h1 Lorem ipsum
      %span
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam elementum maurivel
        nulla lacinia interdum. Praesent vel nisi
        vitae turpis consequat cursus et et nibh.
        Etiam rutrum porttitor viverra. Proin nisi
        enim, aliquet sit amet iaculis vitae, feugiat a
        felis.
    .box
      %img{ src: "#{image_path('home/micro.png')}" }
      %h1 Lorem ipsum
      %span
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam elementum maurivel
        nulla lacinia interdum. Praesent vel nisi
        vitae turpis consequat cursus et et nibh.
        Etiam rutrum porttitor viverra. Proin nisi
        enim, aliquet sit amet iaculis vitae, feugiat a
        felis.
    .box
      %img{ src: "#{image_path('home/kids.png')}" }
      %h1 Lorem ipsum
      %span
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam elementum maurivel
        nulla lacinia interdum. Praesent vel nisi
        vitae turpis consequat cursus et et nibh.
        Etiam rutrum porttitor viverra. Proin nisi
        enim, aliquet sit amet iaculis vitae, feugiat a
        felis.

    .clear
    #planos
      %table.highlight
        %tr
          %th Médio
        %tr
          %td 200
        %tr
          %td 10
        %tr
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td R$ 90,00
        %tr
          %td
            %a.button.primary{ onclick: "Popup.open_url('#{contact_form_url}?plan=Médio')", href: 'javascript:;' } Contratar

      %table
        %tr
          %th
          %th Pequeno
          %th Médio
          %th Grande
        %tr
          %td Alunos
          %td 100
          %td 200
          %td 500
        %tr
          %td Turmas
          %td 5
          %td 10
          %td 25
        %tr
          %td Backup
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td Suporte
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td Preço
          %td R$ 50,00
          %td R$ 90,00
          %td R$ 200,00
        %tr
          %td
          %td
            %a.button.primary{ onclick: "Popup.open_url('#{contact_form_url}?plan=Pequeno')", href: 'javascript:;' } Contratar
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
            %a.button.primary{ onclick: "Popup.open_url('#{contact_form_url}?plan=Médio')", href: 'javascript:;' } Contratar
          %td
            %a.button.primary{ onclick: "Popup.open_url('#{contact_form_url}?plan=Grande')", href: 'javascript:;' } Contratar

