.header
  .header-wrapper
    .banner
    .banner-text
      %h2 Minha sala de aula
      %p
        O aprendizado do aluno não deve se restringir à escola.
        A plataforma Minha Sala de Aula permite que se continue aprendendo e tirando dúvidas até mesmo em casa.
    .link-wrapper
      %a.button.primary{ href: '#planos-scroll' } Experimentar
      %p Experimente por 30 dias de graça.

.content
  %p
    "Leve sua sala de aula para dentro da casa dos seus alunos!"
  .box-container
    .box
      %img{ src: "#{image_path('home/bloco.png')}" }
      %h1 Menos Papel
      %span Exercícios, notícias, artigos, e todo material de apoio necessário enviado e recebido pelos alunos através da nossa plataforma.
    .box
      %img{ src: "#{image_path('home/micro.png')}" }
      %h1 24hrs
      %span Sempre online, a plataforma permite que o aluno estude a qualquer horário do dia.
    .box
      %img{ src: "#{image_path('home/kids.png')}" }
      %h1 Interação
      %span Através de fóruns onde os alunos poderão interagir entre eles e com os professores de cada turma.

    .clear#planos-scroll
    #planos
      %table.highlight
        %tr
          %th Médio
        %tr
          %td 200
        / %tr
        /   %td 10
        %tr
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td R$ 180,00
        %tr
          %td
            %a.button.primary{ href: new_user_registration_path+'?plan_id='+@plans[:medium].id.to_s } Experimentar

      %table
        %tr
          %th
          %th Pequeno
          %th Médio
          %th Grande
        %tr
          %td Alunos
          %td 100
          %td 200
          %td 500
        / %tr
        /   %td Turmas
        /   %td 5
        /   %td 10
        /   %td 25
        %tr
          %td Backup
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td Suporte
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td Preço
          %td R$ 100,00
          %td R$ 180,00
          %td R$ 400,00
        %tr
          %td
          %td
            / %a.button.primary{ onclick: "Popup.open_url('#{contact_form_url}?plan=Pequeno')", href: 'javascript:;' }
            %a.button.primary{ href: new_user_registration_path+'?plan_id='+@plans[:small].id.to_s } Experimentar
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
            / %a.button.primary{ onclick: "Popup.open_url('#{contact_form_url}?plan=Médio')", href: 'javascript:;' } Experimentar
            %a.button.primary{ href: new_user_registration_path+'?plan_id='+@plans[:medium].id.to_s } Experimentar
          %td
            / %a.button.primary{ onclick: "Popup.open_url('#{contact_form_url}?plan=Grande')", href: 'javascript:;' } Experimentar
            %a.button.primary{ href: new_user_registration_path+'?plan_id='+@plans[:big].id.to_s } Experimentar
