= form_tag(search_path, method: 'get') do
  .search
    = text_field_tag 'search', params[:search], class: 'large', placeholder: t('helpers.submit.search'), autofocus: true
    %i{ class: 'fa fa-times-circle' }

    - if params[:search].present?
      .search-param Resultados da busca por '#{params[:search]}'

  %button.button.primary{ type: 'submit' }
    <i class='fa fa-search'></i> Buscar

= link_to '<i class="fa fa-plus"></i> Cadastrar'.html_safe, new_path, class: 'button secondary'

= content_for :javascript do
  :javascript
    toggleSearchRemoveSign();

    $('.search').on('click', '.fa-times-circle', function() {
      $('.search input').val('');
      $('.search').parent('form').submit();
    });

    $('.search input').on('input', function() {
      toggleSearchRemoveSign();
    });

    function toggleSearchRemoveSign() {
      if (!!$('.search input').val()) {
        $('.search .fa-times-circle').show();
      } else {
        $('.search .fa-times-circle').hide();
      }
    }
