= form_for @teacher, url: teacher_path(@teacher) do |f|
  .field
    %label foto
    %input.small{ type: 'text', name: '' }
    %input.button.primary{ type: 'submit', value: 'selecionar arquivo' }

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :email
    = f.email_field :email

  .small_field
    = f.label :password
    = f.password_field :password

  .small_field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  .field
    = f.label :enrollment
    = f.text_field :enrollment

  .field
    = f.label :phone_number
    = f.text_field :phone_number, data: { inputmask: "'alias': 'phone'" }

  .field
    = f.label :cellphone_number
    = f.text_field :cellphone_number, data: { inputmask: "'alias': 'phone'" }

  .field
    = f.label :birth_date
    = f.text_field :birth_date, data: { inputmask: "'alias': 'date'" }

  .field
    = f.label :address
    = f.text_field :address

  .small_field
    = f.label :address_number
    = f.text_field :address_number, data: { inputmask: "'alias': 'integer'" }

  .small_field
    = f.label :address_complement
    = f.text_field :address_complement

  .field
    = f.label :address_city
    = f.text_field :address_city

  .field
    = f.label :address_state
    = f.text_field :address_state

  = f.submit 'Confirmar', class: 'button primary'
