.nav
  .nav-wrapper
    - if user_signed_in?
      = link_to 'Logout', destroy_user_session_path, method: :delete
    - else
      .login
        %form
          %input{ type: 'text', placeholder: 'login' }
          %input{ type: 'password', placeholder: 'senha' }
          %input{ type: 'submit', value: 'Login', class: 'primary' }
    .logo

.header
  .header-wrapper
    .banner
    .banner-text
      %h2 Lorem ipsum
      %p
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam elementum maurivel
        nulla lacinia interdum. Praesent vel nisi
        vitae turpis consequat cursus et et nibh.
        Etiam rutrum porttitor viverra. Proin nisi
        enim, aliquet sit amet iaculis vitae, feugiat a
        felis.
    .link-wrapper
      %a{ href: '#planos', class: 'button primary' } Contratar

.content
  %p
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
    elementum maurivel nulla lacinia interdum."
  .box-container
    .box
      %img{ src: "#{image_path('home/bloco.png')}" }
      %h1 Lorem ipsum
      %span
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam elementum maurivel
        nulla lacinia interdum. Praesent vel nisi
        vitae turpis consequat cursus et et nibh.
        Etiam rutrum porttitor viverra. Proin nisi
        enim, aliquet sit amet iaculis vitae, feugiat a
        felis.
    .box
      %img{ src: "#{image_path('home/micro.png')}" }
      %h1 Lorem ipsum
      %span
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam elementum maurivel
        nulla lacinia interdum. Praesent vel nisi
        vitae turpis consequat cursus et et nibh.
        Etiam rutrum porttitor viverra. Proin nisi
        enim, aliquet sit amet iaculis vitae, feugiat a
        felis.
    .box
      %img{ src: "#{image_path('home/kids.png')}" }
      %h1 Lorem ipsum
      %span
        Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nullam elementum maurivel
        nulla lacinia interdum. Praesent vel nisi
        vitae turpis consequat cursus et et nibh.
        Etiam rutrum porttitor viverra. Proin nisi
        enim, aliquet sit amet iaculis vitae, feugiat a
        felis.

    .clear
    #planos
      %table.highlight
        %tr
          %th plano2
        %tr
          %td Lorem ipsum
        %tr
          %td Lorem ipsum
        %tr
          %td Lorem ipsum
        %tr
          %td Lorem ipsum
        %tr
          %td Lorem ipsum
        %tr
          %td Lorem ipsum
        %tr
          %td
            %a{ class: 'button primary' } Contratar

      %table
        %tr
          %th
          %th plano1
          %th plano2
          %th plano3
        %tr
          %td Lorem ipsum
          %td -
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td Lorem ipsum
          %td Lorem ipsum
          %td Lorem ipsum
          %td Lorem ipsum
        %tr
          %td Lorem ipsum
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td Lorem ipsum
          %td 5
          %td 10
          %td 20
        %tr
          %td Lorem ipsum
          %td -
          %td -
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
        %tr
          %td Lorem ipsum
          %td R$0,00
          %td R$0,00
          %td R$0,00
        %tr
          %td
          %td
            %a{ class: 'button primary' } Contratar
          %td
            %img{ src: "#{image_path('home/onebit_34.png')}" }
            %a{ class: 'button primary' } Contratar
          %td
            %a{ class: 'button primary' } Contratar

%footer
  .footer-wrapper
    #contact
      %img{ src: "#{image_path('home/logo-branco.png')}" }
      %p
        Rua Presidente Vargas 10.000, Subsolo C
        %br
        Cep: 20000-000 - Rio de Janeiro - RJ
        %br
        %br
        Email: contato@syschool.com.br
      #social
        %img{ src: "#{image_path('home/facebook-icon-brown.png')}" }
        %img{ src: "#{image_path('home/twitter-icon-brown.png')}" }
        %img{ src: "#{image_path('home/rss-icon-brown.png')}" }
        %img{ src: "#{image_path('home/google-icon-brown.png')}" }
    %form
      %label Lorem ipsum
      %br
      %br
      %input{ type: 'text', placeholder: 'nome' }
      %input{ type: 'text', placeholder: 'e-mail' }
      %textarea{ placeholder: 'mensagem' }
      %input{ type: 'submit', value: 'Enviar', class: 'primary' }

